# Git submodule definition file
#
# Reference:
#
# * Git - gitmodules Documentation
#   https://git-scm.com/docs/gitmodules
#
# Copyright 2021 林博仁(Buo-ren, Lin) <Buo.Ren.Lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0
[submodule "The Common GNU Bash Shell Script Templates"]
	path = The Common GNU Bash Shell Script Templates
	url = https://github.com/the-common/bash-script-templates.git
	ignore = dirty
[submodule "Bash 101"]
	path = Bash 101 - Learning Bash via code samples and small projects!
	url = https://github.com/bash-101/bash-101.git
	ignore = dirty
